venv
__pycache__
.pyc
.gitignore
.DS_Store
.env.work
Create_database.png
Create_login.png
Postgre_Create_Login_Group-Role.png
.mypy_cache
t.py
.dockerignore
utilsheets
Menu.numbers
.vscode
.idea
.python-version
.vscode/
.*_cache
.env
Menu.xlsx
core/
config.ini
br_contractors.xlsx
*.sql
*.lock
*.log
*.sh
*.db
*.xlsx
*.db-wal
*.db-shm
*.csv
df.py